{% extends 'base.html.twig' %}

{% block title %}Taxcode index{% endblock %}

{% block body %}
    <h1>Taxcode index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Country</th>
                <th>Value</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for taxcode in taxcodes %}
            <tr>
                <td>{{ taxcode.id }}</td>
                <td>{{ taxcode.country }}</td>
                <td>{{ taxcode.value }}</td>
                <td>
                    <a href="{{ path('taxcode_show', {'id': taxcode.id}) }}">show</a>
                    <a href="{{ path('taxcode_edit', {'id': taxcode.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('taxcode_new') }}">Create new</a>
{% endblock %}
